$border-radius: 8px;
$border-default: 2px solid rgba(0, 0, 0, 0.12);
$padding-default: 24px;
$header-bar-height: 76px;
$transition-default: all 0.2s ease;

// color
$bg-color: #ffffff;
$primary-color: #233e8b;
$primary-error-color: #f44336;
$base-bg-color-hover: #eeeeee;
$base-bg-color-active: #e0e0e0;

// text color
$text-color: #000a12;
$text-color-error: #f44336;
$placeholder-color: rgba(0, 0, 0, 0.54);

// screen size
$screen-small: 640px;
$screen-medium: 1007px;
