@import "./Base.scss";

.base__page {
	margin-top: calc(#{$header-bar-height} * 1.3);
	max-width: 960px;
	padding-left: 32px;
	padding-right: 36px;
	margin-left: auto;
	margin-right: auto;
	padding-top: 36px;
	padding-bottom: 72px;
	background-color: $bg-color;
	
	& .wrap {
		display: flex;
		padding: unset;
	}

	& .base__page__header {
		display: flex;
		align-items: center;
		margin-bottom: 36px;

		& .back__button {
			width: 32px;
			height: 32px;
			padding: 8px;
			border-radius: 50%;
			margin-right: 8px;
			cursor: pointer;
			
			&:hover {
				background-color: $base-bg-color-hover;
			}

			&:active {
				background-color: $base-bg-color-active;
			}
		}

		& .page__title {
			text-align: start;
			margin-top: 0px;
			margin-bottom: 0px;
		}
	}
}

@media screen and (max-width: 1007px) {
	.base__page {

		& .wrap {
			display: unset;
			padding: unset;
		}
	}
}