@import "./Base.scss";

.base__form {
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	border: $border-default;
	padding: $padding-default;
	background-color: $bg-color;
	border-radius: $border-radius;
	margin-bottom: 8px;
}

@media screen and (max-width: 1007px) {
	.base__form {
		width: unset;
		border: unset;
		padding: unset;
		margin-bottom: 8px;
	}
}